/*
 *
 * License:	GPL
 * 
 */

html {
}

body {
	padding:0px;
	margin:0px;
	background-color: #efefef;
	width:100%;
	height:100%;
}

/* Tables should show empty cells. */
table
{
	empty-cells: show;
}

/* By default (td, body..) use Tahoma in black. */
body, td, th
{
	color: #000000;
	font-size: small;
	font-family: tahoma, sans-serif;
}

.topbg
{
	color: #737373;
	font-size: 22px;
	padding-top: 28px;
	padding-bottom: 7px;
	padding-right:25px;
	background-color: #efefef;
	background-image: url(/static/images/topbg_r.gif);
}

.topbg_r
{
	color: white;
	background-color: #efefef;
	background-image: url(/static/images/topbg.gif);
}

.topbg_r2
{
	color: white;
	background-color: #efefef;
	background-image: url(/static/images/topbg_r2.gif);
}

.topbg_l
{
	color: white;
	background-color: #efefef;
	background-image: url(/static/images/topbg_l.gif);
}

#competitionNameContainer {
	position:absolute;
	top:80px;
	left:350px;
	width:16em;
	text-align:center;
}
#competitionNameContainer h1 {
	font-size:1.5em;
	font-family: tahoma, sans-serif;
	font-weight: normal;
	color:#737373;
	margin-left:auto;
}


.hidden {display:none;}

/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menu/pro_drop3.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
.preload1 {background: url(images/blank_over.gif);}
.preload2 {background: url(images/blank_overa.gif);}

#menu {padding:0 0 0 32px; margin:0; list-style:none; height:36px; background:#fff; position:relative; z-index:500; font-family:arial, verdana, sans-serif;}
#menu>li {display:block; float:left;}
#menu>li>a {display:block; float:left; height:36px; line-height:27px; color:#ccc; text-decoration:none; font-size:11px; font-weight:bold; padding:0 0 0 12px; cursor:pointer;background: url(images/blank.gif);}
#menu>li>a span {float:left; display:block; padding:0 24px 0 12px; height:36px;background:url(images/blank.gif) right top;}
#menu li>a span.down {float:left; display:block; padding:0 24px 0 12px; height:36px; background:url(images/blanka.gif) no-repeat right top;}
#menu li>a:hover {color:#fff; background: url(images/blank_over.gif) no-repeat;}
#menu li>a:hover span {background:url(images/blank_over.gif) no-repeat right top;}
#menu li>a:hover span.down {background:url(images/blank_overa.gif) no-repeat right top;}

#menu>li:hover> a {color:#fff; background: url(images/blank_over.gif) no-repeat;}
#menu>li:hover > a span {background:url(images/blank_over.gif) no-repeat right top;}
#menu>li:hover > a span.down {background:url(images/blank_overa.gif) no-repeat right top;}


#menu table {border-collapse:collapse; width:0; height:0; position:absolute; top:0; left:0;}

/* Default link styling */

/* Style the list OR link hover. Depends on which browser is used */

#menu a:hover {visibility:visible; position:relative; z-index:200;}
#menu li:hover {position:relative; z-index:200;}

/* keep the 'next' level invisible by placing it off screen. */
#menu ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#menu :hover ul {left:0; top:31px; background: #fff; padding:3px; border:1px solid #3a93d2; white-space:nowrap; width:90px; height:auto; z-index:300;}
#menu :hover ul li {display:block; height:20px; position:relative; float:left; width:90px; font-weight:normal;}
#menu :hover ul li a {display:block; font-size:11px; height:20px; width:90px; line-height:20px; text-indent:5px; color:#000; text-decoration:none;}
#menu :hover ul li a:hover {background:#3a93d2; color:#fff;}

#content {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	background-color:#4A7DB5;
	background-image:none;
	color:#fff;
	padding:20px;
	overflow:auto;
}



div.del {
	background: url(images/cross.gif);
	border: 0;
	cursor: pointer;
	float: left;
	height: 16px;
	width: 16px;
	padding:0;
}

div.del:hover, div.del:active {background-position:left bottom;}

#options {
	vertical-align:top;
	width:15em;
	background-color:#CCEDFF;
}

#matches {
	vertical-align:top;
	background-color:#CCEDFF;
}


#optiond {
	width:13em;
	border:1px solid black;
}

textarea#condition, textarea#question {
	height:8em;
}

#option {
	width:30px;
	height:30px;
	float:right;
	background-color:#339900;
	border:2px solid #CCCCFF;
}

#match {
	width:30px;
	height:30px;
	background-color:#CCCCCC;
	border:2px solid #CCCCFF;
}

#value {width:2em;}

#answer {width:2em;}

.comment {background-color:#FFFFCC;}
.comment textarea{
	width:12em;
	min-height:4em; 
	height:auto;
}
/* for Internet Explorer */
/*\*/
* html .comment {
height: 4em;
}
/**/
caption {font-size:normal; font-weight:bold;}
table.layout table td {
	background-color:white;
	border:1px solid #CCCCFF;
}

table.layout table.form td, table.layout td {background-color:#FFFFCC;}
th {font-size:x-small;font-weight:normal;}
td, div {padding:2px;}

.ctitle {width:12em;}
.user {width:12em;}
.option1{width:12em;}
table.layout table.form td.submit{width:8em; text-align:center;background-color:#993300;}
.time,.datetime {width:12em;}
.option2{width:8em;}
.team {width:5em;}

